.endpage {
  width: 100%;
  padding: 5px 0px;
  top: 2200px;
  right: 0;
  position: absolute;
  background-color: antiquewhite;
  color: black;
  z-index: 0;
}

footer h2 {
  text-align: center;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
}

.container {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align:justify;
}

